<section class="goal-docs-modal">
  <header *ngIf="!isSubmitting">
    
    <div class="row sticky-header">
      <div class="col-10">
        <h2>{{ title | translate | titlecase }}</h2>
      </div>
      <div class="col text-right">
        <img class="close-button cursor-pointer" src="../../../../../../assets/img/close.svg"
          alt="{{ 'CANCELAR' | translate }}"
          (click)="cancel()"
        />
      </div>
    </div>
  </header>

  <main>
    <ng-container>
      <app-file-uploader-with-params
        [dataSource]="_dataSource"
        [formConfig]="_formConfig"
        [tableConfig]="_tableConfig"
        [uploaderConfig]="_uploaderConfig"
        [sendFunction]="_sendFunction"
        (showingButtons)="showingButtons($event)"
      ></app-file-uploader-with-params>
    </ng-container>
  </main>

  <footer *ngIf="!isSubmitting">
    <button (click)="cancel()" class="button--primary">
      {{ "ACEPTAR" | translate }}
    </button>
  </footer>
</section>
