h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.embed-responsive {
    width: 650px;
    height: 450px;
}

@media screen and (max-width: 1385px) {
    .embed-responsive {
        width: auto;
        height: auto;
        padding: 20px;
    }
}

@media screen and (orientation: landscape) {
    .embed-responsive {
        width: auto;
        height: auto;
        padding: 20px;
    }
}