<div class="container">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">

    <div style="text-align:justify" id="textoCompleto">
      <p>{{'MODAL_EDIT_ASSIGMENT_CONTRACT' | translate}} <a
        href="mailto:consultasfundae@preving.com">consultasfundae@preving.com
        </a></p>
    </div>
    <div class="row">
      <div class="col offset-2">
        <button (click)="accept()">{{ 'ACEPTAR' | translate }}</button>
      </div>
    </div>
  </div>
</div>
