
table {
    width: 100%;
}

.row-actions-icons {
    justify-content: center;
}

a {
    color: inherit;
    padding-left: 5px;
}
td {vertical-align: middle;}
.right {margin-left: auto; color:var(--blue);}

.mat-expansion-panel {
    margin-bottom: 15px;
}
.panel-content {
    border-top: 1px solid var(--coolGray);
    padding: 15px;
}
.panel-content .row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.panel-content .row .title {
    font-weight: 700;
}
@media (min-width: 600px) {
    .panel-content .row .title {
        flex: 0 0 150px;
        max-width: 150px;
    }
}
.panel-content .text-right {
    padding-top: 15px;
}
.panel-content .text-right i {
    margin-left: 20px;
}
.mat-icon {
    vertical-align: middle;
}
table {width: 100%;}
.mat-column-NumTrabajadores,
.mat-column-FechaPrevencion,
.mat-column-FechaVigilancia {
    max-width: 120px;
}
.mat-column-VerDetalles {
    max-width: 60px;
}
.btn-icon {
    background: transparent;
    color:var(--blue);
    border: none;
    outline: none;
    padding: 10px;
    height: 45px;
    width: 50px;
    text-align: center;
    margin: 0px 0px 0px 0px !important;
}
.btn-icon.inline{
    margin: 0 10px;
    padding: 0;
    height: fit-content;
}

tr.expanded-detail {
    height: 0;
    overflow: hidden;
    background-color: var(--verylightBlue);
}

tr.expanded-detail .detail-content {
    overflow: hidden;
    max-height: 0;
    transition:max-height 0.3s ease-out;
    justify-content: center;
}
tr.expanded-detail .detail-content h3 {
    border-bottom: 1px solid var(--blue);
    padding-bottom: 0px;
    margin-bottom: 10px;
}
tr.expanded-detail .detail-content ul
{
    padding: 15px;
    margin: 0;
}
tr.expanded-detail .detail-content li {
    list-style: none;
    padding: 3px 0;
}
tr.expanded-detail .detail-content i {
    color:var(--blue);
    min-width: 16px;
    display: inline-block;
    text-align: center;
}
tr.expanded-detail.expanded {height: auto;}
tr.expanded-detail.expanded .detail-content {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.btn-icon.expanded .show, .btn-icon .hide {
    display: none !important;
 }
 .btn-icon.expanded .hide {
     display: block !important;
 }

.boton-alta{
  background-color: var(--orange);
  border: 1px solid var(--orange);
  padding: 2px 10px;
  font-size: smaller!important;
  width: 210px;
}

 th.mat-column-documento {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: none;
    width: 200px !important;
    min-width: 200px;
    overflow-wrap: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media (min-width:1500px) {
  th.mat-column-documento {
    width: 180px !important;
    min-width: 180px;
  }
  th.mat-column-observaciones {
    width: 220px !important;
    min-width: 220px;
  }
}

@media (max-width:1500px) {
  td.mat-column-documento {
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  td.mat-column-documento span {
    position: absolute;
    display: block;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    overflow: hidden;
  }
  td.mat-column-documento span:before {
    content: '';
    width: 20px;
    position: absolute;
    right: 0;
    height: 100%;
    background: linear-gradient(270deg,#FFFFFF 34.5%,rgba(250,251,252,0) 100%);
  }
  td.mat-column-documento:hover {
    overflow: initial;
  }
  td.mat-column-documento:hover span {
    z-index: 3;
    padding:5px 15px 5px 0;
    background-color: var(--white);
    width: fit-content;
    overflow: initial;
  }
  td.mat-column-documento:hover span:before {
    content: none;
  }
}

@media (max-width: 550px) {
  ::ng-deep .mat-paginator-page-size-select {
      width: auto !important;
  }
}
