<div class="container">
  <div class="row sticky-header">
    <div class="col-10">
      <h1 class="job-procedure-label">
        {{ title | titlecase }}
      </h1>
    </div>
    <div class="col text-right">
      <img
        class="close-button"
        src="../../../../assets/img/close_assignment_contract_modal.svg"
        alt="{{ 'CANCELAR' | translate }}"
        (click)="cancel()"
      />
    </div>
  </div>

  <form [formGroup]="form">
    <!-- Fecha de alta -->
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="outline">
          <mat-label>
            {{"FECHA_ALTA" | translate}}
          </mat-label>
          <input
            matInput
            [matDatepicker]="entryDate"
            formControlName="entryDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="entryDate"></mat-datepicker-toggle>
          <mat-datepicker #entryDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- Name -->
    <div class="row">
      <div class="col-12">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>
              {{"PROCEDIMIENTOS_TRABAJO" | translate}}
            </mat-label>
            <input
              matInput
              type="text"
              formControlName="title"
              required
            />
            <mat-error>
              {{"PROCEDIMIENTOS_TRABAJO.ERRORES.REQUIERE_NOMBRE_JOB_PROCEDURE"| translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>
            {{"OBSERVACIONES" | translate}}
          </mat-label>
          <input matInput type="text" formControlName="observations" />
        </mat-form-field>
      </div>
    </div>

    <div class="row sticky-footer">
      <div class="col buttons-modal">
        <button class="clean-button" (click)="cancel()">
          {{ "CANCELAR" | translate }}
        </button>
        <button (click)="accept()" class="mr-0">
          {{ "GUARDAR" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
