.texto-form {
  font-family: Montserrat, sans-serif;
}

:host ::ng-deep .mat-select-arrow {
  margin-left: 10px;
  border-right: none;
  border-image-source: url('../../../../assets/icons/misc/arrow_down.svg');
  transform: scale(3);
}
