<h1 mat-dialog-title *ngIf="newDocument.name === null">{{ 'NUEVO_DOCUMENTO' | translate }}</h1>
<h1 mat-dialog-title *ngIf="newDocument.name !== null">{{ 'EDITAR_DOCUMENTO' | translate }}</h1>
<div mat-dialog-content>
  <div class="row my-4 mb-5">
    <div class="col-12">
      <file-uploader
          [multiple]="false"
          compact
          [renameItems]="false"
          [maxFileSize]="5"
          [validTypes]="['.pdf']"
          (fileListChange)="onFileListChange($event)"
          [(fileList)]="fileList"
      ></file-uploader>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'TIPO_DOCUMENTO' | translate }}</mat-label>
        <mat-select [(value)]="newDocument.documentType" required>
          <mat-option *ngFor="let docType of documentTypesList" [value]="docType">
            {{ docType.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'COMPANY_CENTER_SELECTOR.CENTER' | translate}}</mat-label>
        <mat-select [(value)]="newDocument.center" (selectionChange)="onCenterSelected()" required>
          <mat-option *ngFor="let center of centersList" [value]="center">
            {{ center.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'PUESTO' | translate }}</mat-label>
        <mat-select [(value)]="newDocument.jobPosition" required>
          <mat-option *ngFor="let jobPosition of jobPositionList" [value]="jobPosition">
            {{ jobPosition.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row my-4 justify-content-between">
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'PT_DOCUMENTACION.TABLE.SUBMIT_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="newDocument.submitDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'PT_DOCUMENTACION.TABLE.EXPIRATION_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="newDocument.expirationDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'OBSERVACIONES' | translate }}</mat-label>
        <textarea matInput [(ngModel)]="newDocument.description"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    <div class="buttons-modal d-flex justify-content-end" >
      <button  class="clean-button" (click)="closeModal()">{{ 'CANCELAR' | translate }}</button>
      <button  [mat-dialog-close]="newDocument" [ngClass]="{'button--is-disabled' : disabledSaveButton()}" [disabled]="disabledSaveButton()" >{{ 'GUARDAR' | translate }}</button>
    </div>
  </div>
</div>
