<!-- Footer -->
<section id="footer">
	<div class="container">
		<div class="div-redes text-white">

			<div class="marca">
				<a class="title" href="https://www.preving.com/blog/" target="_blank">BLOG</a>
				<a class="title" href="https://www.preving.com/grupo-preving/codigo-conducta/"
					target="_blank">{{ 'RGPD' | translate }}</a>
			</div>

			<div class="li-redes">
				<ul class="list-unstyled list-inline social text-center" style="width:500px;">
					<li class="list-inline-item"><a href="https://www.facebook.com/VitalyPRL/" target="_blank">
							<img class="iconFtr" src="../../../assets/icons/misc/facebook_logo.svg" /></a></li>

					<li class="list-inline-item"><a href="https://twitter.com/vitaly_prl" target="_blank">
							<img class="iconFtr" src="../../../assets/icons/misc/twitter_logo.svg" /></a></li>

          <li class="list-inline-item"><a href="https://es.linkedin.com/company/vitaly-prevencionriesgoslaborales" target="_blank">
                <img class="iconFtr" src="../../../assets/icons/misc/linkedin_logo.svg" /></a></li>

					<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCp2f1b_BlCkyRNsbTvx5pdA" target="_blank">
							<img class="iconFtr" src="../../../assets/icons/misc/youtube_logo.svg" /></a></li>

          <li class="list-inline-item"><a href="https://www.instagram.com/vitaly_prl/" target="_blank">
              <img class="iconFtr" src="../../../assets/icons/misc/instagram_logo.svg" /></a></li>

					<li><a class="web" href="https://vitaly.es/" target="_blank">www.vitaly.es</a> </li>
				</ul>
			</div>

		</div>
	</div>
</section>
<!-- ./Footer -->
