<h1 mat-dialog-title>{{ 'MODIFICAR_EMAIL_FACTURA_ELECTRONICA' | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field class="outline">
    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{ 'INTRODUCIR_CORREO_ELECTRONICO_VALIDO' | translate }}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{ 'EMAIL_ES' | translate }}<strong>{{ 'REQUERIDO' | translate }}</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="clear-button">
    <span class="clear-span">
      {{ 'CANCELAR' | translate }}
    </span>
  </button>
  <button mat-button [mat-dialog-close]="emailFormControl.value" [disabled]="!emailFormControl.valid" cdkFocusInitial
    class="search-button">
    {{ 'MODIFICAR' | translate }}
  </button>
</div>