<div class="container">
  <div class="w80">
    <div class="login-logo">
        <a href="https://www.preving.com/" target="_blank">
          <img src="{{logoUrl}}" alt="Preving Extranet" class="logo">
        </a>
    </div>
    <div class="tittle">
      <div class="div-titulo">
        <h1>Aviso Legal</h1>
      </div>
      <div class="div-cerrar">
        <a class="cerrar" (click)="closeModal()"><img class="icon-cerrar"
            src="../../../../assets/img/cerrarModal.png"></a>
      </div>
    </div>

    <div [@.disabled]="disableAnimation">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              1.- Objeto
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>La presente página <a href="#"> web</a> es propiedad de la/s empresas de Grupo Preving</p>
          <p>La utilización de la EXTRANET por cualquier persona atribuye la condición de “usuario”, el cual acepta que
            el
            uso es bajo su exclusiva responsabilidad.</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              2.- Uso de la &nbsp;<a href="#"> extranet</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>La EMPRESA CLIENTE ha concertado con la/s empresas de Grupo Preving, el acceso y la utilización de la <a
              href="#"> extranet</a>. Este acceso y utilización está relacionado con la contratación del concierto de
            actividades como Servicio de Prevención Ajeno firmado entre EMPRESA CLIENTE y la/s empresas del Grupo
            Preving
          </p>
          <p>La utilización de la EXTRANET por cualquier persona atribuye la condición de “usuario”, el cual acepta que
            el
            uso es bajo su exclusiva responsabilidad.</p>
          <p>El usuario se compromete a no utilizar la información, actividades, productos o servicios que se ponen a su
            disposición para desarrollar actividades contrarias a las leyes, a la moral o al orden público y, en
            general,
            a hacer un uso conforme a las presentes Condiciones Generales.</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              3.- Contenidos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Los contenidos de la extranet son puestos a disposición del usuario como información relacionada con el
            concierto de actividades del Servicio de Prevención Ajeno firmado entre EMPRESA CLIENTE y la/s empresas del
            Grupo Preving.
          </p>
          <p>El usuario es el único responsable del contenido, uso y divulgación de las informaciones y documentos
            existentes en la extranet.</p>
          <p>El usuario se compromete a revisar de forma periódica el correo electrónico asociado al usuario, para que
            esté al tanto de las notificaciones provenientes de la extranet.</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              4.- Acceso a la &nbsp;<a href="#"> extranet</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>El usuario accederá a la <a href="#">extranet</a> de forma remota utilizando las herramientas telemáticas
            previstas a tal efecto, mediante una identificación y una contraseña que le será suministrada, de forma
            confidencial, cuando se dé de alta al usuario en la extranet.</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              5.- Protección de datos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Se garantiza el cumplimiento íntegro de las obligaciones dispuestas, así como la implementación de las
            medidas de seguridad dispuestas en el artículo 9 de la Ley Orgánica 15/1999, de Protección de Datos
            Personales
            y en su Reglamento de desarrollo aprobado por Real Decreto 1720/2007, de 21 de diciembre, así como el Real
            Decreto-ley 5/2018, de 27 de julio de medidas urgentes para la adaptación del Derecho español a la normativa
            de la Unión Europea en materia de protección de datos (RGPD).
          </p>
          <p>Por todo lo anterior,</p>
          <p>Declaro y acepto sin ninguna objeción que estoy accediendo a la extranet debidamente autorizado y
            legitimado
            por la empresa (persona física o jurídica) contratante de los servicios de la/s empresa/s de Grupo Preving
            cuya contratación origina el acceso, y que actúo en nombre de tal empresa con su pleno conocimiento y
            aceptación vinculandola y responsabilizándola solidariamente junto conmigo, y a todos los efectos, por el
            uso
            y gestión que se realice con mis claves. </p>
          <p>Igualmente declaro que tanto yo como la empresa por la que actúo conocemos las obligaciones y
            responsabilidades que nos impone la Ley de Prevención de Riesgos Laborales y su normativa de desarrollo sin
            que nos exima de ellas el acudir como modelo de organización a uno o varios Servicios de Prevención Ajenos
            (los cuales actúan como asesores y no se les transfieren nuestras obligaciones ni responsabilidades por
            acudir
            a ellos).</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</div>
