.contener {
    margin: auto;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    background: rgba(0, 59, 96, 1);
    background: -moz-linear-gradient(left, rgba(0, 59, 96, 1) 0%, rgba(121, 167, 217, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 59, 96, 1)), color-stop(100%, rgba(121, 167, 217, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 59, 96, 1) 0%, rgba(121, 167, 217, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 59, 96, 1) 0%, rgba(121, 167, 217, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 59, 96, 1) 0%, rgba(121, 167, 217, 1) 100%);
    background: linear-gradient(to right, rgba(0, 59, 96, 1) 0%, rgba(121, 167, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003b60', endColorstr='#79a7d9', GradientType=1);
}

.img-perfil {
    width: 20px;
    height: 20px;
    transform: translateY(-25%);
    margin: -1px 0px 0px 5px;
}

i {
    margin-right: 8px;
    margin-top: -2px;
    color:var(--red);
    cursor: text;
}

.texto-fortaleza-pwd {
    margin: -5px 2px 0px 10px;
}

.formatoInput:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px whitesmoke inset;
}+

.mat-progress-bar {}
mat-progress-bar{
    height: 10px;
    margin-left: 15px;
    border-radius: 20px;
    width: 70%;

}

::ng-deep .mat-progress-bar-buffer {
    background-color: lightgray;
}

::ng-deep .validPasswordWeakProgress{
  .mat-progress-bar-fill::after {
      background-color: red !important;
  }
}
::ng-deep .validPasswordMiddleProgress{
  .mat-progress-bar-fill::after {
      background-color: orange !important;
  }
}
::ng-deep .validPasswordStrongProgress{
  .mat-progress-bar-fill::after {
      background-color: lightgreen !important;
  }
}

.content-center {
    width: 645px;
    margin: 0 auto;
    //height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

    .logo {
        width: 65%;
        margin-top: 5%;
    }

    .title {
        h3 {
            font-size: xx-large;
            padding: 0;
            margin: 5% 0 0;
            color: var(--blue);
        }
    }

    form {
        background-color: whitesmoke;
        width: 100%;
        margin-top: 10%;

        .input-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .separacion-inputs {
                width: 60%;
                // color: $color-grey;
                font-size: 0.80em;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 2%;
            }


            .ico_eye[aria-pressed="true"] {
                width: 20px;
                height: 20px;
                background-size: contain;
                cursor: pointer;
            }

            .ico_eye[aria-pressed="false"] {
                width: 20px;
                height: 20px;
                background-size: contain;
                cursor: pointer;
            }

            .conditions {
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                align-items: flex-start;
                font-size: 0.80em;
            }

            .mat-error {
                font-size: 11px;
                color: #cE5c5c;
            }

            .cookies-terms {
                // color: $color-darkkhaki;
                font-weight: 900;
            }

            .error-absolute {
                position: absolute;
                margin-top: 3%;
                font-size: 11px;
                color: #cE5c5c;
            }
        }
    }
}

span.red {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 10px;
  margin-left: 15px;
  text-align: center;
  width: 1em;
  height: 1em;
}

span.green {
  background: #5EA226;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 10px;
  margin-left: 15px;
  text-align: center;
  width: 1em;
  height: 1em;
}

/* =========================================== MEDIA QUERIES =========================*/


@media (max-width:767px) {
    .content-center {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;

        form {
            .input-container {
                .conditions {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2%;
                    align-items: flex-start;
                    font-size: 0.8em;
                    max-width: 317px;
                }
            }
        }
    }
}

@media (max-width: 321px) {
    .content-center {
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;

        form {
            .input-container {
                .conditions {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 0.7em;
                    max-width: 250px;
                }

                .mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
                    // background-color: $color-disabled !important;
                    max-width: 300px;
                    border-radius: 100px 100px 100px 100px;
                }

                .buttom {
                    // background-color: $color-darkkhaki;
                    // color: $color-white;
                    width: 300px;
                    border-radius: 100px 100px 100px 100px;
                    margin-top: 2%;
                }

                .buttom:hover {
                    // background-color: $color-darkkhaki-lighter;
                    // color: $color-grey;
                }
            }
        }
    }
}
