<div class="contener" style="min-height: 130vh;">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="large" color="var(--orange)" type="line-spin-clockwise-fade"
                 [fullScreen]="true">
      <p style="color: var(--blue); font-weight: bolder; font-size: x-large"> {{ 'CARGANDO' | translate }}... </p>
    </ngx-spinner>
    <div class="content-center">
      <span>
          <a href="https://www.preving.com/" target="_blank">
              <img src="{{logoUrl}}" alt="Preving Extranet" class="logo">
          </a>
      </span>
      <div class="title">
          <h3>{{ 'RESTABLECER_CONTRASENA' | translate }}</h3>
      </div>

      <!--div class="row">
        <div class="col">
          <br/><br/>
          <div id="patron" class="patron"></div>
        </div>
      </div-->

      <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
                 <mat-form-field appearance="outline" class="separacion-inputs">
                  <mat-label>{{ 'CONTRASENA' | translate }}*</mat-label>
                  <input class="formatoInput" matInput placeholder="{{ 'CONTRASENA' | translate }}*" formControlName="password"
                      [pattern]="regrexPattern" [type]="hide1 ? 'password' : 'text'" onpaste="return false;" name="password" autocomplete="new-off" spellcheck="false" autocapitalize="off">
                  <mat-icon matSuffix class="ico_eye" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide1">
                      {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changePassForm.get('password').hasError('pattern')">
                    {{ 'CONTRASENA_NO_VALIDA_EJEMPLO' | translate }}
                  </mat-error>
                  <mat-error *ngIf="changePassForm.get('password').hasError('required')">
                    {{ 'CONTRASENA_REQUERIDO' | translate }}
                  </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="separacion-inputs">
                  <mat-label>{{ 'REPETIR_CONTRASENA' | translate }}*</mat-label>
                  <input class="formatoInput" matInput placeholder="{{ 'REPETIR_CONTRASENA' | translate }}*"
                      formControlName="passwordConfirmation" [type]="hide2 ? 'password' : 'text'" onpaste="return false;" name="password" autocomplete="new-off" spellcheck="false" autocapitalize="off">
                  <mat-icon matSuffix class="ico_eye" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide2">
                      {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="changePassForm.get('passwordConfirmation').hasError('required')">
                    {{ 'CONTRASENA_REQUERIDO' | translate }}
                  </mat-error>
                  <div class="error-absolute" *ngIf="changePassForm.controls.passwordConfirmation.errors">
                      <mat-error class="error" *ngIf="changePassForm.controls.passwordConfirmation.errors.mustMatch">
                        {{ 'CONTRASENAS_NO_COINCIDEN' | translate }}
                      </mat-error>
                  </div>
              </mat-form-field>

            <div>
              <div class="row" *ngIf="changePassForm.get('password').hasError('required')">
                <b>{{ 'REQUISITOS_FORTALEZA' | translate }}</b>
              </div>
              <div *ngIf="changePassForm.get('password').hasError('pattern')">
                <div class="row" *ngIf="valorPorcentajeFortalezaPwd >= 0 && valorPorcentajeFortalezaPwd < 25">
                  <mat-progress-bar class="validPasswordWeakProgress" mode="determinate" [value]="valorPorcentajeFortalezaPwd"></mat-progress-bar>
                  <p class="texto-fortaleza-pwd">{{ 'PASSWORD_MUY_DEBIL' | translate }}</p>
                </div>
                <div class="row" *ngIf="valorPorcentajeFortalezaPwd >= 25 && valorPorcentajeFortalezaPwd < 49">
                  <mat-progress-bar class="validPasswordMiddleProgress" mode="determinate" [value]="valorPorcentajeFortalezaPwd"></mat-progress-bar>
                  <p class="texto-fortaleza-pwd">{{ 'PASSWORD_DEBIL' | translate }}</p>
                </div>
              </div>
              <div class="row" *ngIf="(valorPorcentajeFortalezaPwd >= 50 && valorPorcentajeFortalezaPwd < 75 && !passwordFuerte)">
                <mat-progress-bar class="validPasswordMiddleProgress" mode="determinate" [value]="valorPorcentajeFortalezaPwd"></mat-progress-bar>
                <p class="texto-fortaleza-pwd">{{ 'PASSWORD_MEDIO' | translate }}</p>
              </div>
              <div class="row" *ngIf="seCumpleTodoslosRequisitos && passwordFuerte">
                <mat-progress-bar class="validPasswordStrongProgress" mode="determinate" [value]="valorPorcentajeFortalezaPwd"></mat-progress-bar>
                <p class="texto-fortaleza-pwd">{{ 'PASSWORD_FUERTE' | translate }}</p><img src="../assets/img/biceps.png" class="img-perfil">
              </div>

              <div style="margin-top: 5px">
                <div class="row">
                  <span class="green" [hidden]="!validadoMayuscula"></span>
                  <span class="red" [hidden]="validadoMayuscula"></span>
                  <p>{{ 'AL_MENOS_UNA_MAYUSCULA' | translate }}</p>
                </div>
                <div class="row">
                  <span class="green" [hidden]="!validadoMinuscula"></span>
                  <span class="red" [hidden]="validadoMinuscula"></span>
                  <p>{{ 'AL_MENOS_UNA_MINUSCULA' | translate }}</p>
                </div>
                <div class="row">
                  <span class="green" [hidden]="!validadoDigito"></span>
                  <span class="red" [hidden]="validadoDigito"></span>
                  <p>{{ 'AL_MENOS_UN_DIGITO' | translate }}</p>
                </div>
                <div class="row">
                  <span class="green" [hidden]="!validadoEspacioEnBlanco"></span>
                  <span class="red" [hidden]="validadoEspacioEnBlanco"></span>
                  <p>{{ 'NO_ESPACIOS_EN_BLANCO' | translate }}</p>
                </div>
                <div class="row">
                  <span class="green" [hidden]="!validadoCaracterEspecial"></span>
                  <span class="red" [hidden]="validadoCaracterEspecial"></span>
                  <p>{{ 'AL_MENOS_UN_CARACTER_ESPECIAL' | translate }}</p>
                </div>
                <div class="row">
                  <span class="green" [hidden]="!validadoLongitudPassword"></span>
                  <span class="red" [hidden]="validadoLongitudPassword"></span>
                  <p>{{ 'AL_MENOS_ENTRE_8_Y_15_CARACTERES' | translate }}</p>&nbsp;<p id="totalCaracteresIntroducidos"></p>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!seCumpleTodoslosRequisitos">
              <i class="material-icons md-24">info</i>
              <p style="color:var(--red);font-weight: bold;">{{ 'CONTRASENA_NO_CUMPLE_REQUISITOS' | translate }}</p>
            </div>

            <button class="button" mat-raised-button [disabled]="changePassForm.invalid" type="submit">
              {{ 'FINALIZAR' | translate }}
            </button>
          </div>
      </form>
    </div>
</div>
