<div class="container">
  <div class="row sticky-header">
    <div class="col-9">
      <h1 class="preventive-measure-label">
        {{ title | titlecase }}
      </h1>
    </div>
    <div class="col text-right">
      <img
        class="close-button"
        src="../../../../assets/img/close_assignment_contract_modal.svg"
        alt="{{ 'CANCELAR' | translate }}"
        (click)="cancel()"
      />
    </div>
  </div>

  <form [formGroup]="form">
    <!--Filtro centro y Empresa-->
    <div *ngIf="!editMode" class="row">
      <app-select-empresa-filter
        [userForm]="form"
        [empresasList]="empresas"
        [radioButtonsActivos]="false"
        class="col"
        [required]="true"
        [multiple]="false"
      ></app-select-empresa-filter>

      <app-select-centro-filter-v2-ppt
        [userForm]="form"
        [empresasList]="empresas"
        [radioButtonsActivos]="false"
        class="col"
        [required]="true"
        [multiple]="false"
      >
      </app-select-centro-filter-v2-ppt>
    </div>
    <!-- Name -->
    <div class="row">
      <div class="col-12">
        <div
          *ngIf="
            isClientPreventiveMeasure();
            then editNameField;
            else textNameField
          "
        ></div>
        <ng-template #editNameField>
          <mat-form-field appearance="outline">
            <mat-label>{{
              "PLANIFICACION_PRL.MEDIDA_PREVENTIVA" | translate
            }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="preventiveMeasure"
              required
            />
            <mat-error>{{
              "PLANIFICACION_PRL.ERRORES.REQUIERE_NOMBRE_MEDIDA_PREVENTIVA"
                | translate
            }}</mat-error>
          </mat-form-field>
        </ng-template>
        <ng-template #textNameField>
          <div class="row mb-3">
            <div class="col-2">
              <mat-label class="text--grey">
                {{
                  "PLANIFICACION_PRL.MEDIDA_PREVENTIVA" | translate
                }}</mat-label
              >
            </div>
            <div class="col pl-0">
              <mat-label>
                <strong>{{ data.preventiveMeasure.preventiveMeasure }}</strong>
              </mat-label>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <!-- Origin -->
      <div class="col">
        <div
          *ngIf="
            isClientPreventiveMeasure();
            then editOriginField;
            else textOriginField
          "
        ></div>
        <ng-template #editOriginField>
          <mat-form-field appearance="outline">
            <mat-label>{{ "PLANIFICACION_PRL.ORIGEN" | translate }}</mat-label>
            <mat-select
              formControlName="origin"
              required
              [compareWith]="compareObjects"
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let o of origins" [value]="o">
                {{ o.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
        <ng-template #textOriginField>
          <div class="row mb-3">
            <div class="col-4">
              <mat-label class="text--grey">
                {{ "PLANIFICACION_PRL.ORIGEN" | translate }}</mat-label
              >
            </div>
            <div class="col pl-0">
              <mat-label>
                <strong>{{
                  data.preventiveMeasure.origin.name | translate
                }}</strong>
              </mat-label>
            </div>
          </div>
        </ng-template>
      </div>
      <!-- Priority -->
      <div class="col">
        <div
          *ngIf="
            isClientPreventiveMeasure();
            then editPriorityField;
            else textPriorityField
          "
        ></div>
        <ng-template #editPriorityField>
          <mat-form-field appearance="outline">
            <mat-label>{{
              "PLANIFICACION_PRL.PRIORIDAD" | translate
            }}</mat-label>
            <mat-select
              formControlName="priority"
              required
              [compareWith]="comparePriorityObjects"
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let p of priorities" [value]="p.id">
                {{ p.id + " - " }} {{ getPriorityLabel(p.id) | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
        <ng-template #textPriorityField>
          <div class="row">
            <div class="col-4">
              <mat-label class="text--grey">
                {{ "PLANIFICACION_PRL.PRIORIDAD" | translate }}</mat-label
              >
            </div>
            <div class="col pl-0">
              <mat-label>
                <strong
                  >{{ data.preventiveMeasure.priority }} -
                  {{
                    getPriorityLabel(data.preventiveMeasure.priority)
                      | translate
                  }}
                </strong>
              </mat-label>
            </div>
          </div>
        </ng-template>
      </div>
      <!-- Dos selects, uno para origen y otro para prioridad-->
    </div>

    <!-- Causa -->
    <div class="row">
      <div class="col-12">
        <div
          *ngIf="
            isClientPreventiveMeasure();
            then editCauseField;
            else textCauseField
          "
        ></div>
        <ng-template #editCauseField>
          <mat-form-field appearance="outline">
            <mat-label>{{ "PLANIFICACION_PRL.CAUSA" | translate }}</mat-label>
            <input matInput type="text" formControlName="cause" />
          </mat-form-field>
        </ng-template>
        <ng-template #textCauseField>
          <div class="row mb-3">
            <div class="col-2">
              <mat-label class="text--grey">
                {{ "PLANIFICACION_PRL.CAUSA" | translate }}</mat-label
              >
            </div>
            <div class="col pl-0">
              <mat-label>
                <strong>{{ data.preventiveMeasure.cause }}</strong>
              </mat-label>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Localizacion -->
    <div class="row">
      <div class="col-12">
        <div
          *ngIf="
            isClientPreventiveMeasure();
            then editLocationField;
            else textLocationField
          "
        ></div>
        <ng-template #editLocationField>
          <mat-form-field appearance="outline">
            <mat-label>{{
              "PLANIFICACION_PRL.LOCALIZACION" | translate
            }}</mat-label>
            <input matInput type="text" formControlName="location" />
          </mat-form-field>
        </ng-template>
        <ng-template #textLocationField>
          <div class="row mb-3">
            <div class="col-2">
              <mat-label class="text--grey">
                {{ "PLANIFICACION_PRL.LOCALIZACION" | translate }}</mat-label
              >
            </div>
            <div class="col pl-0">
              <mat-label>
                <strong>{{ data.preventiveMeasure.location }}</strong>
              </mat-label>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="row">
      <!-- Editable! Fecha Inicio -->
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "PLANIFICACION_PRL.FECHA_INICIO" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Editable! Fecha Prevista -->
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "PLANIFICACION_PRL.FECHA_PREVISTA" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="fromPicker"
            formControlName="scheduledDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="fromPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Editable! Fecha Implantacion -->
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "PLANIFICACION_PRL.FECHA_IMPLANTACION" | translate
          }}</mat-label>
          <input
            matInput
            [max]="executionMaxDate"
            [matDatepicker]="toPicker"
            formControlName="executionDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="toPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
          <mat-error>{{
            "PLANIFICACION_PRL.ERRORES.FECHA_INVALIDA" | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="row">
      <!-- Editable! Responsable -->
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "PLANIFICACION_PRL.RESPONSABLE" | translate
          }}</mat-label>
          <input matInput type="text" formControlName="responsible" />
        </mat-form-field>
      </div>
      <!-- Editable! Coste -->
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PLANIFICACION_PRL.COSTE" | translate }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="cost"
            pattern="^\d+(?:\.\d{1,2})?$"
            step="0.01"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- Editable! Observaciones -->
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "PLANIFICACION_PRL.OBSERVACIONES" | translate
          }}</mat-label>
          <input matInput type="text" formControlName="observations" />
        </mat-form-field>
      </div>
    </div>

    <div class="row sticky-footer">
      <div class="col buttons-modal">
        <button class="clean-button" (click)="cancel()"> {{ "CANCELAR" | translate }} </button>
        <button (click)="accept()"> {{ "GUARDAR" | translate }} </button>
      </div>
    </div>
  </form>
</div>
