<div class="container">
  <div class="titulo w-100 cBlack mb-5">
    <div class="row sticky-header">
      <div class="col-9">
    <p class="anexar">{{ 'DOCUMENTACION_PROPIA.ANEXAR_INFORME' | translate }}</p>
      </div>
      <div class="col text-right">
        <div (click)="cerrarModal()" class="row justify-content-end cerrarModal" style="cursor: pointer;" ><img src="../../../../assets/icons/misc/close.svg"></div>
      </div>
  </div>
  </div>
  <form [formGroup]="modalNuevoInformeForm">
    <div class="d-flex row mt-0 align-items-center" style="width: 100%; padding-left: 40px">

      <div class="d-flex row align-items-center justify-content-center" style="width: 100%;">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'TIPO_DOCUMENTO' | translate }} - {{ 'CATEGORIA' | translate }}</mat-label>
            <mat-select formControlName="tipoDocForm" disableOptionCentering required>
              <mat-option *ngFor="let tipoDoc of tipoDocumentoList" [value]="tipoDoc.idTipoDocumento">
                {{tipoDoc.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex row align-items-center justify-content-center" style="width: 100%;">
      <div class="col">
        <mat-form-field appearance="outline" >
          <mat-label>{{ 'SUBCATEGORIA' | translate }}</mat-label>
          <mat-select formControlName="subTipoDocForm" disableOptionCentering required>
            <mat-option *ngFor="let tipoDoc of subTipoDocumentoList" [value]="tipoDoc.idTipoDocumento">
              {{tipoDoc.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        </div>

      <div class="d-flex row align-items-center justify-content-center" style="width: 40%;">
      <div class="col">
        <mat-form-field appearance="outline">
          <!--<mat-label>{{ 'FECHA CREACION' }} </mat-label>-->
          <input matInput [matDatepicker]="fromPicker" formControlName="fechaCreacionForm" required>
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>
        </div>

      <div class="d-flex row  align-items-center justify-content-center" style="width: 100%;">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'DESCRIPCION' | translate }}</mat-label>
          <input matInput type="text" formControlName="descripcionForm" placeholder="{{ 'DESCRIPCION' | translate }}" pattern={{validObserva}} required>
        </mat-form-field>
      </div>
      </div>


      <div class="d-flex row  align-items-center justify-content-center">
        <div class="col">
          <p>{{'DOCUMENTACION_PROPIA.SUBIDA_DOCUMENTACION_PROPIA' | translate}}</p>
        </div>
      </div>
    </div>

    <div class="d-flex row  align-items-center justify-content-center" style="width: 100%;">
      <div class="col fichero">
        <file-uploader
          [maxFileSize]="2"
          [validTypes]="['.pdf']"
          [(fileList)]="toCreateDocs"
          (fileListChange)="handleFileInput($event)"
          (onError)="onFileAddError($event)"
        ></file-uploader>
      </div>
    </div>


    <div class="row justify-content-end botones">
      <div class="d-flex ml-auto">
        <button (click)="cancel()" class="cancelar">{{ 'CANCELAR' | translate }}</button>
        <button (click)="accept()" class="aceptar" [disabled]="!modalNuevoInformeForm.valid">{{ 'ACEPTAR' | translate }}</button>
      </div>
    </div>
  </form>
</div>
