<nav class="navbar fixed-top">
    <div id="header" class="row content">
      <div class="col-8 col-md-8">
        <a href="https://vitaly.es/" target="_blank">
          <img class="logo" src="./../../../assets/logos/logo_vitaly_blanco.png" alt="">
        </a>
      </div>

      <div class="col-4 col-md-4">
        <a href="tel:+34911594000" class="tlf">
          <img class="iconTlf" src="./../../../assets/img/iconoTelefono.svg" alt="">
          911 594 000
        </a>
      </div>
    </div>
    <hr class="line">
</nav>
