<section id="tuscentros">

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="large" color="var(--vitaly-orange)" type="line-spin-clockwise-fade"
        [fullScreen]="true">
        <p style="color: var(--vitaly-blue); font-family: Montserrat, sans-serif; font-weight: bolder; font-size: x-large"> {{ 'CARGANDO' | translate }}... </p>
    </ngx-spinner>
    <div class="container">
      <div class="container-fluid">
        <app-delegaciones-wp></app-delegaciones-wp>
      </div>


</div>
</section>
