


:root {
    --primary-color: #00425B;
    --link-color: #2E9BFF;
    --grey-02-color: #FAFAFA;
    --grey-05-color: #F2F2F2;
    --grey-10-color: #E6E6E6;
    --grey-15-color: #D9D9D9;
    --grey-20-color: #CCCCCC;
    --grey-25-color: #BFBFBF;
    --grey-30-color: #B3B3B3;
    --grey-35-color: #A6A6A6;
    --grey-40-color: #999999;
    --grey-45-color: #8C8C8C;
    --grey-50-color: #808080;
    --grey-55-color: #737373;
    --grey-60-color: #666666;
    --grey-65-color: #595959;
    --grey-70-color: #4D4D4D;
    --grey-75-color: #404040;
    --grey-80-color: #333333;
    --grey-85-color: #262626;
    --grey-90-color: #1A1A1A;
    --grey-95-color: #0D0D0D;
    --grey-100-color: #000000;
    --black-color: var(--grey-100-color);
  }