<div class="container">

  <div class="row">
    <div class="col-11">
      <h1 class="assignment__contract__label">
        {{'CONTRATO_ENCOMIENDA' | translate}}
      </h1>
    </div>
    <div class="col text-right">
      <img class="assignment__contract__close__button" src="../../../assets/img/close_assignment_contract_modal.svg" alt="{{ 'CANCELAR' | translate }}" (click)="cancel()">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <style>iframe {
        width: 100%;
        height: 800px
      }</style>
      <iframe class="e2e-iframe-trusted-src" [src]="data.url.data | safeUrl" frameborder="0" allowfullscreen="allowfullscreen"></iframe>    </div>
  </div>

</div>
