
.passwordNoCumpleRequisitos{
    margin-left: 1%;
}

.img-perfil {
    width: 20px;
    height: 20px;
    transform: translateY(-25%);
    margin: -1px 0px 0px 5px;
}

i {
    margin-right: 8px;
    margin-top: -2px;
    color:var(--red);
    cursor: text;
}

.texto-fortaleza-pwd {
    margin: -5px 2px 0px 10px;
}

.formatoInput:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px whitesmoke inset;
}+

.mat-progress-bar {}
mat-progress-bar{
    height: 10px;
    margin-left: 5px;
    border-radius: 20px;
    width: 30%;

}

::ng-deep .mat-progress-bar-buffer {
    background-color: lightgray;
}

::ng-deep .validPasswordWeakProgress{
  .mat-progress-bar-fill::after {
      background-color: red !important;
  }
}
::ng-deep .validPasswordMiddleProgress{
  .mat-progress-bar-fill::after {
      background-color: orange !important;
  }
}
::ng-deep .validPasswordStrongProgress{
  .mat-progress-bar-fill::after {
      background-color: lightgreen !important;
  }
}

span.red {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 10px;
  margin-left: 15px;
  text-align: center;
  width: 1em;
  height: 1em;
}

span.green {
  background: #5EA226;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 10px;
  margin-left: 15px;
  text-align: center;
  width: 1em;
  height: 1em;
}


@media (max-width: 750px) {
    .passwordNoCumpleRequisitos{
        margin-left: -2%;
    }
    .justify-content-end {
        justify-content: center !important;
    }
}
