<div mat-dialog-content>
      <div class="row">
          <div class="col">
              <h1 class="tituloSec text-uppercase">{{ 'TRABAJADORES' | translate }}</h1>
          </div>
          <div class="div-cerrar">
            <a class="cerrar" (click)="closeModal()"><img class="icon-cerrar" src="../../../../assets/img/cerrarModal.png"></a>
          </div>
      </div>

      <!--Form-->

      <span><strong>{{this.utils.citaValues.nombreEmpresa}}</strong></span><br>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col">
                  <mat-form-field appearance="outline" appearance="outline">
                      <mat-label>{{ 'NOMBRE_TRABAJADOR' | translate }}</mat-label>
                      <input matInput type="text" formControlName="nombreForm" pattern={{validNameSurname}}>
                  </mat-form-field>
              </div>

              <div class="col">
                  <mat-form-field appearance="outline" appearance="outline">
                      <mat-label>{{ 'APELLIDOS_TRABAJADOR' | translate }}</mat-label>
                      <input matInput type="text" formControlName="apellidosForm" pattern={{validNameSurname}}>
                  </mat-form-field>
              </div>

              <div class="col">
                  <mat-form-field appearance="outline" appearance="outline">
                      <mat-label> {{ 'NIF_NIE_TRABAJADOR' | translate }}</mat-label>
                      <input matInput type="text" formControlName="dniForm" pattern={{validNifNie}}>
                  </mat-form-field>
              </div>
          </div>


          <div class="row">
              <div class="col-12 col-md-6">
                  <mat-form-field appearance="outline">
                      <mat-label>{{ 'FECHA_DESDE_ALTA' | translate }}</mat-label>
                      <input matInput [matDatepicker]="fromPicker" formControlName="fechaDesdeForm" [max]="maxDate" (dateChange)="minDate = $event.value.toDate()">
                      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromPicker></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                  <mat-form-field appearance="outline">
                      <mat-label>{{ 'FECHA_HASTA_ALTA' | translate }}</mat-label>
                      <input matInput [matDatepicker]="toPicker" formControlName="fechaHastaForm" [min]="minDate" (dateChange)="maxDate = $event.value.toDate()">
                      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                      <mat-datepicker #toPicker></mat-datepicker>
                  </mat-form-field>
              </div>
          </div>
          <hr>

          <div class="row justify-content-end">
              <div>
                  <button class="clean-button" type="reset" (click)="resetForm()"><img src="{{cleanImgUrl}}"
                          class="img" alt="{{ 'LIMPIAR_FILTROS' | translate }}"><span class="clean-span">{{ 'LIMPIAR'
                          | translate }}</span></button>
              </div>
              <div>
                  <button class="search-button" type="submit" [disabled]="!searchForm.valid"><img
                          src="{{searchImgUrl}}" class="img" alt="Filtros"><span class="search-span">{{ 'BUSCAR' |
                          translate }}</span></button>
              </div>
          </div>
      </form>
      <!--END Form-->

      <div class="row"[hidden]="!mostrarTabla">
        <div class="col" #TABLE>
          <div class="table-responsive">
            <table mat-table
                   [dataSource]="dataSourceTrabajadores"
                   matSort
                   cdkDropList
                   cdkDropListOrientation="horizontal"
                   [cdkDropListData]="this.trabajadores"
                   (cdkDropListDropped)="dropT($event)"
                   multiTemplateDataRows
                  class="mat-elevation-z2 table">

                <ng-container matColumnDef="centro">
                    <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header> {{ 'CENTRO' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span class="centroSpan" matTooltip="{{element.centro?.nombre}}">
                        {{element.centro?.nombre}}
                      </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombreApellidos">
                    <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header> {{ 'TRABAJADOR' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreApellidos}} <br> {{element.nif}}</td>
                </ng-container>
                <ng-container matColumnDef="puestosTrabajo">
                    <th mat-header-cell *matHeaderCellDef cdkDrag>{{ 'PUESTO_TRABAJO' | translate }}</th>
                    <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
                      <div *ngFor="let puesto of element.puestosTrabajo; let i = index"
                           [class.font-weight-bold]="puesto.esPuestoPrincipal"
                           [class.font-italic]="i > 0"
                           [hidden]="( i > 0) && !element.showPuestos"
                           class="puestoDeTrabajoSpanSmallSmall" matTooltip="{{puesto.nombre}}"
                      >
                        {{puesto.nombre}} <span *ngIf="puesto.centro" class="puestoDeTrabajoSpanSmallSmall" matTooltip="{{puesto.centro.nombre}}"> - {{puesto.centro.nombre}}</span>
                        <button *ngIf="element.puestosTrabajo.length > 1 && i==0"
                                mat-raised-button
                                class="btn-icon more-info"
                                (click)="element.showPuestos=!element.showPuestos">
                          <i class="fas"
                             [class.fa-plus-circle]="!element.showPuestos"
                             [class.fa-minus-circle]="element.showPuestos"
                          ></i>
                        </button>
                      </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fechaAlta">
                    <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header> {{ 'FECHA_ALTA' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaAlta | date:'dd/MM/yyyy'}}</td>
                </ng-container>

              <!-- Comentamos la fecha de baja porque no tendría sentido Citas para Trabajadores Inactivos-->
                <!--ng-container matColumnDef="fechaBaja">
                    <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header> {{ 'FECHA_BAJA' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaBaja | date:'dd/MM/yyyy'}}</td>
                </ng-container-->

                <ng-container matColumnDef="verDetalles">
                    <th mat-header-cell *matHeaderCellDef cdkDrag> </th>
                    <td mat-cell *matCellDef="let element">
                      <button class="modify-button-blue" (click)="selectTrabajador(element)">
                        <span class="modify-span"><strong>{{'BOTON_SELECCIONAR_TRABAJADOR' | translate}}</strong></span>
                      </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tableHeadersTrabajadores"></tr>
                <tr mat-row *matRowDef="let row; columns: tableHeadersTrabajadores;"></tr>
            </table>
          </div>
          <mat-paginator class="paginator" #paginatorT [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
       </div>
      </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="closeModal()" class="clear-button"><span class="clear-span">{{ 'CERRAR' | translate }}</span> </button>
</div>
