<div class="loginSimuladoContainer">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="large" color="var(--vitaly-orange)" type="line-spin-clockwise-fade"
               [fullScreen]="true">
    <p class="spinnerText"> {{ 'CARGANDO_SIMULACION_REDIRIGIENDO' | translate }} ... </p>
  </ngx-spinner>
  <!--Logo-->
  <div class="logoImg">
      <a href="https://www.preving.com/" target="_blank">
        <img src="{{logoUrl}}" alt="Preving Extranet" width="300px">
      </a>
  </div>
  <!--F.Logo-->
</div>

